body {
	font-family: var(--f-txt); 
	background: var(--c-bg);
	max-width: 100vw; 
	margin-left: 0; 
	margin-right: 0; 
	padding-bottom: 100px; 
}


h1 {
	font-family: 'cmtypewriter'; 
	font-size: 1.1rem; 
	line-height: 1.4rem; 
	font-weight: 400; 
	margin-top: 2.0rem; 
	padding-left: 10px;
}
h1.title {
	font-size: 1.4rem; 
	margin-top: 1.0rem; 
	margin-bottom: 1.0rem; 
}
h1 .anchor {
	font-family: var(--f-anchors); 
	font-weight: 700; 
}
h1 .anchor:after {
	counter-increment: h1;
	content: counter(h1) '.'; 
	font-family: var(--f-anchors); 
	font-size: .9rem; 
	text-decoration: underline; 
	font-weight: 700; 
}
h1 .typedef {
	font-family: 'cmtypewriter'; 
	font-weight: 700; 
}
h1 a {
	color: var(--c-txt); 
}

h2 {
	font-size: 1.0rem; 
	font-family: var(--f-txt); 
	font-weight: 400; 
}

p {
	font-size: 1.0rem; 
}

.dir {
	padding-left: 10px;
	font-family: var(--f-txt);
	#text-decoration: none;
	font-weight: 700;
	font-variant-caps: petite-caps;
	font-size: 1.3rem;
}

.topic-list {
	background: var(--c-bg); 
	position: relative;
	max-width: 320px; 
	padding: 10px; 
}

li {
	list-style-type: none; 
	line-height: 1.1rem; 
	text-indent: -1.0rem; 
	margin-left: 1.0rem; 
	margin-bottom: .2rem; 
}
li a {
	font-family: var(--f-list); 
	color: var(--c-link); 
	text-decoration: underline; 
	text-decoration-thickness: 2px; 
}

/* corpus */ 
li.corpus {
	margin-bottom: .4rem;
}
li.corpus:before {
	content: "\25B8 "; 
	font-family: monospace; 
	color: var(--c-map-txt);
}
.corpus a {
	text-decoration-thickness: 2px; 
}
.toc-view {
	display: none; 
	position: fixed; 
	top: 2.0rem; 
	left: 340px; 
	width: calc(100vw - 340px - 20px);
	max-width: 400px; 
	font-size: .8rem; 
	border: 1px dotted var(--c-link);
	background: var(--c-bg); 
	padding: 2px; 
	padding-left: 0; 
	margin: 0; 
}
li.corpus:hover {
	border: 1px solid var(--c-link);
	padding-left: 5px; 
}
.corpus:hover .toc-view {
	display: block; 
}

.toc-view {
	display: none; 
	position: fixed; 
	top: 2.0rem; 
	left: 340px; 
	width: calc(100vw - 340px - 20px);
	max-width: 400px; 

	font-family: 'cmtypewriter'; 
	font-size: .8rem; 
	border: 1px dotted var(--c-link);
	background: var(--c-bg); 

	padding: 2px; 
	padding-left: 0; 

	margin: 0; 
}

.summary {
	display: none; 
	position: fixed;
	top: 2.0rem;
	left: 340px;
	width: calc(100vw - 340px - 30px);
	max-width: 400px;

	font-family: 'cmtypewriter';
	font-size: .8rem; 
	border: 1px dotted var(--c-link); 
	background: var(--c-bg); 
	color: var(--c-txt); 
	text-indent: 0px; 
	line-height: 1.0rem; 

	margin: 0; 
	padding: 5px; 

	overflow: auto; 
}
.summary .what {
	#margin-left: 10px; 
}
.summary .whatnum {
	float: left; 
	padding-right: 5px; 
	font-weight: 700; 
	font-family: 'cmtypewriter'; 
	text-decoration: underline; 
}
.summary h1 {
	font-family: 'cmtypewriter'; 
	font-size: .8rem; 
	line-height: 1.2rem; 
	font-weight: 400; 
	margin: 0; 
}
.corpus:hover .summary {
	display: block; 
}

#TableOfContents ol {
	list-style-type: none; 
	line-height: 0.8rem; 
	padding-left: 0; 
}
#TableOfContents li {
	padding-left: 30px; 
	text-indent: -30px; 
}
#TableOfContents li a {
	text-decoration: none; 
	color: var(--c-link); 
}
#TableOfContents ol li {
	counter-increment: numero; 
	margin-bottom: 4px; 
}
#TableOfContents ol li:before {
	content: counter(numero) ". ";  
	color: var(--c-link); 
	font-family: 'cmtypewriter', monospace; 
}
#TableOfContents ol {
	list-style: none; 
	counter-reset: numero; 
}
